{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "hmpo-submit/macro.njk" import hmpoSubmit %}

{% extends "form-template.njk" %}

{% set hmpoPageKey = "confirm" %}

{% set contentPrefix = "pages.confirm." %}

{% block innerContent %}
    {{ govukSummaryList({
        rows: [
            {
                key: { text: translate(contentPrefix + "rows.dateOfBirth.key") },
                value: { text: values.dateOfBirth | date("D MMMM YYYY") },
                actions: {
                    items: [{
                        href: "/eligibility/date-of-birth/edit",
                        text: translate(contentPrefix + "change"),
                        visuallyHiddenText: translate(contentPrefix + "rows.dateOfBirth.key")
                    }]
                }
            },
            {
                key: { text: translate(contentPrefix + "rows.title.key") },
                value: { text: values.title },
                actions: {
                    items: [{
                        href: "/apply/name/edit",
                        text: translate(contentPrefix + "change"),
                        visuallyHiddenText: translate(contentPrefix + "rows.title.key")
                    }]
                }
            },
            {
                key: { text: translate(contentPrefix + "rows.name.key") },
                value: { text: values.forenames + " " + values.surname },
                actions: {
                    items: [{
                        href: "/apply/name/edit",
                        text: translate(contentPrefix + "change"),
                        visuallyHiddenText: translate(contentPrefix + "rows.name.key")
                    }]
                }
            },
            {
                key: { text: translate(contentPrefix + "rows.email.key") },
                value: { text: values.email },
                actions: {
                    items: [{
                        href: "/apply/contact-details/edit",
                        text: translate(contentPrefix + "change"),
                        visuallyHiddenText: translate(contentPrefix + "rows.email.key")
                    }]
                }
            },
            {
                key: { text: translate(contentPrefix + "rows.phone.key") },
                value: { text: values.phone },
                actions: {
                    items: [{
                        href: "/apply/contact-details/edit",
                        text: translate(contentPrefix + "change"),
                        visuallyHiddenText: translate(contentPrefix + "rows.phone.key")
                    }]
                }
            },
            {
                key: { text: translate(contentPrefix + "rows.address.key") },
                value: { html: values.addressLine1 + "<br>" + values.town + "<br>" + values.postcode },
                actions: {
                    items: [{
                        href: "/apply/address/edit",
                        text: translate(contentPrefix + "change"),
                        visuallyHiddenText: translate(contentPrefix + "rows.address.key")
                    }]
                }
            },
            {
                key: { text: translate(contentPrefix + "rows.passportNumber.key") },
                value: { text: values.passportNumber },
                actions: {
                    items: [{
                        href: "/apply/passport/edit",
                        text: translate(contentPrefix + "change"),
                        visuallyHiddenText: translate(contentPrefix + "rows.passportNumber.key")
                    }]
                }
            },
            {
                key: { text: translate(contentPrefix + "rows.passportCountry.key") },
                value: { text: values.passportCountry },
                actions: {
                    items: [{
                        href: "/apply/passport-country/edit",
                        text: translate(contentPrefix + "change"),
                        visuallyHiddenText: translate(contentPrefix + "rows.passportCountry.key")
                    }]
                }
            },
            {
                key: { text: translate(contentPrefix + "rows.passportExpiry.key") },
                value: { text: values.passportExpiry | date("D MMMM YYYY") },
                actions: {
                    items: [{
                        href: "/apply/passport-expiry/edit",
                        text: translate(contentPrefix + "change"),
                        visuallyHiddenText: translate(contentPrefix + "rows.passportExpiry.key")
                    }]
                }
            }
        ]
    }) }}
{% endblock %}

{% block submitButton %}
    {{ hmpoSubmit(ctx, {
        key: "submit"
    }) }}
{% endblock %}
